# Ignore JSON, TXT, CSV, and other unwanted files
*.json
*.txt
*.py
*.pkl
*.pt
*.pt.json
*.zip
*.tar
*.gz
*.h5
*.png 
*.pdf
*.csv

# Ignore checkpoint folders (common in ML/DL training)
checkpoint/
checkpoints/
*/checkpoint/
*/checkpoints/
Autoeval-main/
*/Abhishek_kumawat_24401/

# Ignore temporary and system files
.DS_Store
Thumbs.db
*.log
*.tmp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode and virtual environment files
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Ignore VS Code settings (optional)
.vscode/
